html {
    background-color: #1f2335;
    font-family: Berkeley Mono, monospace;
    color: #c0caf5;
}

.param-group {
    display: inline-block;
    border-color: #c0caf5;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    padding: 5px 5px;
}

.param-group legend {
    width: 100%;
    text-align: center;
}

div.param-group {
    border: none;
}

.flex {
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    flex-flow: row wrap;
}

.grid {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    border: none;
    align-items: stretch;
    height: 121px;
}

.param {
    display: inline-grid;
    grid-template-rows: auto auto auto;
    padding: 5px;
    margin: 5px;
}

.dot {
    content: '';
    height: 0.5em;
    width: 0.5em;
    float: left;
    border-radius: 100%;
    background-color: #bb9af7;
    cursor: pointer;
}

.knob {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    min-width: 57px;
    height: 57px;
}

.gague {
    position: absolute;
    background: conic-gradient(#3b4261 140deg, rgba(255, 255, 255, 0.0) 0 220deg, #3b4261 0deg);
    border-radius: 100%;
    width: 64px;
    height: 64px;
    z-index: 1;
}

.gague-fill {
    position: absolute;
    background: conic-gradient(#4fd6be 3deg, rgba(255, 255, 255, 0.0) 0deg 357deg, #4fd6be 3deg);
    border-radius: 100%;
    width: 64px;
    height: 64px;
    z-index: 2;
}

.gague-fill-zeroed {
    position: absolute;
    background: conic-gradient(#4fd6be 3deg, rgba(255, 255, 255, 0.0) 0deg 357deg, #4fd6be 3deg);
    border-radius: 100%;
    width: 64px;
    height: 64px;
    z-index: 2;
}

.dial {
    width: 48px;
    height: 48px;
    border: 5px solid #181b1c;
    border-radius: 100%;
    background-color: #1f2335;
    z-index: 3;
}

.indicator {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: transparent;
    background: linear-gradient(to bottom, currentColor 0% 100%) no-repeat 50% 0%;
    background-size: 0.2em 1em;
}

.param input[type=number] {
    font: inherit;
    color: currentColor;
    background-color: transparent;
    border: none;
    appearance: textfield;
    text-align: center;
    font-size: 75%;
    margin-top: 3px;
}

.param select {
    font: inherit;
    color: currentColor;
    background-color: #1f2335;
    border: none;
    text-align: center;
    font-size: 75%;
    margin-top: 3px;
}

.param option {
    background-color: #1f2335;
    border: none;
}

.param input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    padding-top: 10px;
}

.switch {
    width: 4rem;
    height: 4rem;
    border: 0.3rem solid #181b1c;
    border-radius: 100%;
    background-color: #1f2335;
    z-index: 2;
}

.light {
    width: 4rem;
    height: 4rem;
    position: absolute;
    border-radius: 100%;
    background-color: #3b4261;
    border: 10px solid #3b4261;
    z-index: 1;
}

.light-pulse {
    animation-name: pulse;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-color: #9d7cd8;
    filter: blur(2px);
}

@keyframes pulse {
    50% {
        border-color: #ff757f;
        filter: blur(5px);
    }
}

.wave {
    vertical-align: middle;
    text-align: center;
    padding-bottom: 5px;
}

svg {
    width: 54px;
    height: 54px;
    fill: transparent;
    stroke-width: 5px;
    stroke: #4fd6be
}

.param label {
    display: inherit;
    text-align: center;
    margin-top: 5px;
}
